h1 = "# #{@report[:month]}"
h3 Вводные данные

. = "total_expenses = #{@report[:total_expenses]} # Заполняется общей суммой всех расходов (за исключением тех, что были с накопительных аккаунтов)"
. = "business = #{@report[:business]} # Заполняется суммой расходов за месяц с отметкой #business"
. = "investments = #{@report[:investments]}"
. = "out_of_budget = #{@report[:out_of_budget]} # Заполняется суммой расходов за месяц с отметкой #out_of_budget"
. = "in_count_of_next_months_expenses = #{@report[:next_months_expenses]}"
. = "from_previous_months_in_count_of_current = #{printable(@report[:previous_month].in_count_of_current)}"
. = "visa_questions = #{@report[:visa_questions]} # Заплоняется суммой перевода на счет Visa Questions Account"
. = "internet_fee = #{@report[:internet_fee]}"
. = "previous_months_funds_for_investments = #{printable(@report[:previous_month].funds_for_investments)}"
. = "monthly_budget = #{@report[:monthly_budget]}"
. = "previous_months_free_money = #{printable(@report[:previous_month].free_money)} # берется из free_money_total предыдущего месяца"
. = "monthly_income = #{@report[:monthly_income]}"

h3 Итоги вычислений

p = "used_budget = total_expenses + visa_questions + internet_fee + from_previous_months_in_count_of_current - out_of_budget - investments - business - from_last_months_remains - in_count_of_next_months_expenses"
p = "=> #{@report[:used_budget]}"

p = 'monthly_free_money = (monthly_budget - used_budget).round(2)'
p = "=> #{@report[:monthly_free_money]}"

p = 'free_money_total = monthly_free_money + previous_months_free_money'
p = "=> #{@report[:free_money_total]}"

p = 'funds_for_investments = monthly_income + from_last_months_remains + previous_months_funds_for_investments - used_budget - free_money_total - investments - business'
p = "=> #{@report[:funds_for_investments]}"

br

h4 TOTAL:
. = "Monthly free money: #{@report[:monthly_free_money]}"
. = "Total free money: #{@report[:free_money_total]}"
. = "Funds for investments: #{@report[:funds_for_investments]}"
. = "In count of next month spent: #{@report[:next_months_expenses]}"
